.dropdown-menu {
	position: absolute;
	background: #FFF;
  z-index: 1000;
  width: 100%;
	max-height: 220px;
  overflow: auto;
	border: 1px solid #DFDFDF;
	box-shadow: 0 2px rgba(60, 60, 60, 0.02);

	li {
		padding: 10px;
		&.active {
			background: $primary;
			color: white;

      a {color: white;}
		}
	}
}

//
// Modals
// --------------------------------------------------

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    @include translate3d(0, -100%, 0);
    @include transition(0.2s);
  }
  &.in .modal-dialog { @include translate3d(0, 0, 0) }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

// Actual modal
.modal-content {
  	position: relative;
  	background-color: white;
  	border: 1px solid gray;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
  	background-clip: padding-box;
  	// Remove focus outline from opened modal
  	outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  @include transition(0.3s);

  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity: 0.5; }
}

.masonry-layout {
  column-count: 3;
  column-gap: 0;

  -webkit-column-count: 3;
  -webkit-gap: 0;
}
.masonry-layout-panel {
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
}

.markdown-doc {
  p {
    margin-bottom: 10px;
  }
  ul {
    list-style: disc;
    padding-left: 20px;
  }
}