$primary: #607D8B;
$darkPrimary: #455A64;
$lightPrimary: #CFD8DC;
$accentColor: #CDDC39;
$primaryText: #212121;
$secondaryText: #727272;

body {
	background: #F1F1F1;
	font-family: sans-serif;
	color: $primaryText;
}

h1 {
	font-size: 35px;
	margin: 0 0 5px;
}

h2 {
	margin: 0 0 5px;
	font-size: 22px;
	font-weight: bold;
}

h3 {
	margin: 0 0 5px;
	font-size: 16px;
	font-weight: bold;

	&.item-name {
		display: inline-block;
		text-transform: uppercase;
		color: #FFF;
		background-color: #454545;
		padding: 8px 5px;
		width: 45px;
		text-align: center;
		font-size: 13px;
		margin-right: -5px;
		vertical-align: top;

		&.wide {
			width: 60px;
		}
		&.wider {
			width: 80px;
		}
	}
}

section {
	margin-bottom: 20px;
	padding: 10px;
	background: #FFF;
	box-shadow: 0 2px #E0E0E0;
}

.section-header {
	margin: -10px -10px 10px;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px;
	background: #E0E0E0;
	text-transform: uppercase;
	color: #646464;
}

button {
	border: 0;
	background: $accentColor;
	color: white;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 16px;
}

a {
	&:visited {color: inherit}
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

.hidden {
	display: none;
}

.row {
	max-width: 100%;
}

.toolbar {
	background: $darkPrimary;
	color: white;
	position: relative;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	h1 {
		margin:0;
		font-size: 20px;
	}

	.fa-arrow-left {
		float: left;
		position: relative;
		top: 6px;
		margin-right: 10px;
	}
}

.item {
	padding: 2px 0;

	&:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.02);
	}
}
.title-input {
	background: none;
	border: 0;
	font-size: 45px;
	color: white;
	vertical-align: top;
	text-align: center;
	margin: 0 auto 20px;
	display: block;
	width: 100%;
}

.toast {
	position: fixed;
	z-index: 2;
	background: rgba(0, 0, 0, 0.74);
	padding: 10px;
	color: #FFF;
	top: 20px;
	right: 20px;
}

label {
	font-size: 8px;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	color: $primaryText;
	line-height: 9px;
	
	small {
		float: right;
		color: #808080;
	}
}

.center-text {
	text-align: center;
}

.avatar {
	height: 150px;
	width: 150px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.25);
	margin: 20px auto 0;
}

.content-view {
	padding: 25px;
}

input {
	font-size: 16px;
	padding: 2px;
}

input[disabled] {
	background: #E4E4E4;
	border: 0;
	padding: 3px;
	border-bottom: 1px solid #E0E0E0;
}

.tiny-input {
	width: 30px;
	text-align: center;
}

.small-input {
	width: 65px;
	text-align: center;
}
.medium-input {
	width: 100px;
}

.total-box {
	font-size: 18px;
	padding: 7px!important;
	width: 42px;
}



input.highlighted {
	background: #282828;
	color: $accentColor;
	border: 0;
}