body {
	background: #F1F1F1;
	font-family: Helvetica Neue, sans-serif;
	color: $primaryText;
}

h1 {
	font-size: 35px;
	margin: 0 0 5px;
}

h2 {
	margin: 0 0 5px;
	font-size: 22px;
	font-weight: bold;
}

.modal.upload-form {
	display: block;
}

.full-height {height: 100%;}

a {
	color: $lightPrimary;
}

h3 {
	margin: 0 0 5px;
	font-size: 16px;
	font-weight: bold;

	&.item-name {
		display: inline-block;
		text-transform: uppercase;
		color: #FFF;
		background-color: #454545;
		padding: 8px 5px;
		width: 45px;
		text-align: center;
		font-size: 13px;
		margin-right: -5px;
		vertical-align: top;

		&.wide {
			width: 60px;
		}
		&.wider {
			width: 80px;
		}
	}
}


.card {
	margin-bottom: 20px;
	padding: 10px;
	background: #FFF;
	box-shadow: 0 2px #E0E0E0;

	&.character-card {
		width: 300px;
		display:inline-block;
		margin: 15px;
		vertical-align: top;
		position:relative;

		a {
			text-decoration: none;
			color:white;
		}

		.fa-angle-double-down {
			font-size: 20px;
			cursor: pointer;
			@include transition(.2s all);
			&.active {
				@include rotate(180deg)
			}
		}
	}
	&.character-card--encounter {
		display: block;
		padding: 0;
		margin-bottom: 10px;

		.toolbar {
			margin: 0;
			padding:5px;
		}
	}
	.toolbar {
		margin: -10px -10px 10px;
		.avatar {
			margin: 0px 10px 0 0;
			text-align: center;
			border: 3px solid $lightPrimary;
			float:left;
		}
		.char-bio {
			margin-top: -6px;
			font-size: 14px;
			text-align: left;
		}	
	}

	&.enemy {
		.toolbar {
			background-color: #D33450;
			.avatar {
				background-color: darken(#D33450, 10%);
				border-color: darken(#D33450, 10%);
			}
		}
		
	}
}



.section-header {
	margin: -10px -10px 10px;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px;
	background: #E0E0E0;
	text-transform: uppercase;
	color: #646464;
}

button {
	border: 0;
	background: $accentColor;
	color: $primaryText;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;

	&.button-muted {
		background: rgba(0, 0, 0, .2);
	}
}

a {
	&:visited {color: inherit}
}

.inline-block {
	display: inline-block;
	vertical-align: top;
	position:relative;
}

.width-100 {
	width: 100%;
}

.hidden {
	display: none;
}

.row {
	max-width: 80em;
}

.margin-bottom {
	margin-bottom: 15px;
}

.toolbar {
	background: $primary;
	color: white;
	position: relative;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	h1 {
		margin:0;
		font-size: 20px;
		white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}

	.fa-arrow-left {
		color: white;
		float: left;
		position: relative;
		top: 6px;
		margin-right: 10px;
		font-size: 20px;
	}
	a {
		text-decoration: none;
		color:white;
	}
}

.toolbar--minimized {
	.avatar {
		height: 0;
		width:0;
	}
	.title-input {
		font-size: 20px;
	}
	.char-bio {
		height: 0;
		width: 0;
		overflow: hidden;
	}
}

.secondary-toolbar {
	background: $lightPrimary;
	
	.tabs {
		a {
			text-transform: uppercase;
			text-decoration: none;
			color: #FFF;
			font-weight: bold;
			font-size: 14px;
			padding: 10px 20px;
			display: inline-block;

			&.active {
				background-color: lighten($lightPrimary, 10%);
			}
		}
	}
}

.char-bio {
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	transition: all .2s;
}

.item {
	padding: 2px 0;

	&:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.02);
	}

	&.item--weapon {
		.weapon-name {
			width: 130px;
			font-weight: bold;
			padding: 5px;
			font-size: 14px;
		}
	}
}
.title-input {
	background: none;
	border: 0;
	font-size: 45px;
	color: white;
	vertical-align: top;
	text-align: center;
	margin: 0 auto 0;
	display: block;
	width: 100%;
	transition: all .2s;
}

.toast {
	position: fixed;
	z-index: 2;
	background: rgba(0, 0, 0, 0.74);
	padding: 10px;
	color: #FFF;
	top: 20px;
	right: 20px;
}

label {
	font-size: 6px;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	color: $primaryText;
	line-height: 9px;
	
	small {
		float: right;
		color: #808080;
	}
}

.item-label {
	margin-top:-7px;
}

.center-text {
	text-align: center;
}

.avatar {
	height: 150px;
	width: 150px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.25);
	margin: 20px auto 0;
	overflow:hidden;
	transition: all .2s;

	&.mini {
		height: 50px;
		width: 50px;
	}

	&.micro {
		width:40px;
		height: 40px;

		&.default span {
			top: -5px
		}
	}

	&.default {
		background-color: $lightPrimary;
		
		span {
			font-size: 28px;	
			position: relative;
			top: 2px;
			font-weight: 100;
		}
	}

	p {
		position: relative;
		top: 64px;
		text-align: center;
		color: rgba(255, 255, 255, 0.25);
	}
}

.login-stuff {
	position: absolute;
	right: 10px;
	top: 11px;
	z-index: 2;
	color: #FFF;

	a {
		text-decoration: none;
		color:white;
	}
}

.content-view {
	padding: 25px 0;
	height: 100%;
}

.row {height: 100%;}
.column, .columns {height: 100%;}

input {
	font-size: 16px;
	padding: 2px;
	margin-bottom: 10px;
}

input[disabled] {
	background: #E4E4E4;
	border: 0;
	padding: 3px;
	border-bottom: 1px solid #E0E0E0;
}

textarea {
	width: 100%;
	border: 1px solid #DBDBDB;
	font-size: 14px;
	height: 110px;
	min-height: 25px;

	&.mini {
		height: 25px;
	}
	&.bigger {
		height: 250px;
	}
}

.tiny-input {
	width: 40px;
	text-align: center;
	&[disabled] {
		width: 30px;
	}
}

.small-input {
	width: 65px;
	text-align: center;
}
.medium-input {
	width: 100px;
}

.total-box {
	font-size: 18px;
	padding: 7px!important;
	width: 55px;
	text-align: center;
	&[disabled] {
		width: 42px;
	}
	&.secondary {
		margin-left: -7px;
		font-size: 14px;
		top: -1px;
		position: relative;
		width: 35px;
		height: 35px;
		color: #8C8C8C;
		border-left: 1px solid #494848;
	}

	&.wide {
		width: 90px;
		@include transition(1s box-shadow);
	}
}

input.highlighted {
	background: #282828;
	color: $accentColor;
	border: 0;

	&.warning {
		color: $danger;
	}
}
.next-level {
	position: absolute;
	font-size: 8px;
	bottom: -2px;
	right: 15px;
	color: #888;
	font-weight: bold;
}
.encounter-initiative {
	position: absolute;
	top: 5px;
	right: 5px;
}

.item-list {
	.group-header {
		font-size: 12px;
		text-transform: uppercase;		
	}
	
	li {
		font-size: 14px;
		.fa-times {
			float:right;
			font-size: 10px;
			color: gray;
			cursor: pointer;
		}
		&.power {
			a {
				color: white;
			}	
		}
		&.at-will-power {
			background-color: $atWillPower;
		}
		&.encounter-power {
			background-color: $encounterPower;
		}
		&.daily-power {
			background-color: $dailyPower;
		}
	}
	.power {
		cursor: pointer;
		color: white;
		font-weight: bold;
		padding: 3px;
		margin-bottom: 2px;

		.fa-times {
			color: white;
			opacity: .5;
		}
	}
}

.versus-label {
	position: relative;
	top: 14px;
	font-size: 10px;
	font-weight: bold;
	margin: 0 2px;
}

.power-modal {
	border: 10px solid #FFF;

	.modal-title {
		color: white;
		padding: 5px 10px;
		margin:0;
		background-color:#447DB5;
	}

	.encounterpower {
		.modal-title {
			background: $encounterPower;
		}
	}
	.atwillpower {
		.modal-title {
			background: $atWillPower;
		}
	}
	.dailypower {
		.modal-title {
			background: $dailyPower;
		}
	}
	.description {
		background: #ECECBA;
		color: #413623;
		font-style: italic;
		padding: 5px 10px;
		font-size: 14px;
		margin:0;
	}

	.trait {
		padding: 5px 10px;
		font-size: 14px;
		color: $primaryText;
		background-color: #F7F7ED;
	}

	.item-content {
		padding: 10px;
		font-size: 14px;
		color: #212121;
		background-color: #F7F7F7;
		
		h1 {
			display:none;
		}
		h2 {
			font-size: 12px;
			margin: 12px 0 5px;
			text-transform: uppercase;
			border-bottom: 1px solid #DFDFDF;
		}
		img {display:none}

		b {font-weight: bold;}

		table {
			width: 100%;
			margin: 10px 0;
		}

		.publishedIn {font-size: 8px; text-align: center; margin-top: 15px;}
		
	}
}

.card--power {
	position: relative;
	margin: 10px;
	transition: all .1s;
	overflow: auto;

	.card-title {
		color: white;
		padding: 5px 10px;
		margin:0;
		background-color:#447DB5;
		overflow:auto;
	}

	.card-title--extra {
		font-size: 12px;
	}
	.description {
		background: #ECECBA;
		color: #413623;
		font-style: italic;
		padding: 5px 10px;
		font-size: 14px;
		margin:0;
	}

	.trait {
		padding: 5px 10px;
		font-size: 14px;
		color: $primaryText;
		background-color: #F7F7ED;
	}

	.item-content {
		padding: 10px;
		font-size: 14px;
		color: #212121;
		background-color: #F7F7F7;
		
		h1 {
			display:none;
		}
		h2 {
			font-size: 12px;
			margin: 12px 0 5px;
			text-transform: uppercase;
			border-bottom: 1px solid #DFDFDF;
		}
		img {display:none}

		b {font-weight: bold;}

		table {
			width: 100%;
			margin: 10px 0;
		}

		.publishedIn {font-size: 8px; text-align: center; margin-top: 15px;}
		
	}
}

.card--tapped {
	transform: rotate(2deg);
	&:after {
		content: "";
		position: fixed;
		top: 0; bottom: 0; left:0; right:0;
		background: rgba(0,0,0,0.4);
	}
}

.card--encounterpower {
	.card-title {
		background: $encounterPower;
	}
}
.card--atwillpower {
	.card-title {
		background: $atWillPower;
	}
}
.card--dailypower {
	.card-title {
		background: $dailyPower;
	}
}

.standard-modal {
	padding: 20px;
	
}

