<section class="card">
    <h2 class="section-header">Feats</h2>
    <textarea class="bigger" ng-model="character.feats"></textarea>
</section>
<section class="card">
    <h2 class="section-header">Race Features</h2>
    <textarea class="bigger" ng-model="character.race_features"></textarea>
</section>
<section class="card">
    <h2 class="section-header">Class / Path / Destiny Features</h2>
    <textarea class="bigger" ng-model="character.other_features"></textarea>
</section>
<section class="card">
    <h2 class="section-header">Notes</h2>
    <textarea class="bigger" ng-model="character.notes"></textarea>
</section>