<div class="content-view">
    <div class="row">
        <div class="columns medium-6">
            <section class="card">
                <h2 class="section-header">Weapons</h2>
                
                <ul class="item-list">
                    <li class="item item--weapon" on-form-change="update_weapon($index)" ng-repeat="weapon in character.weapons" ng-form="weaponForm{{$index}}">
                        <div class="inline-block">
                            <label>Attack</label>
                            <input class="tiny-input" ng-model="weapon.attack" />
                        </div>
                        <div class="inline-block versus-label">
                            vs
                        </div>
                        <div class="inline-block">
                            <label>Defense</label>
                            <input class="tiny-input" ng-model="weapon.defense" />
                        </div>
                        <div class="inline-block weapon-name">
                            <a ng-click="open_weapon_modal(weapon.id)">{{ weapon.name }}</a>
                        </div>
                        <div class="inline-block">
                            <label>Damage</label>
                            <input class="small-input" ng-model="weapon.damage" />
                        </div>
                    </li>
                </ul>
            </section>

            <section class="card">
                <h2 class="section-header">Defenses</h2>
                
                <div class="inline-block">
                    <h3 class="item-name">AC</h3>
                    <input disabled class="tiny-input highlighted total-box" value="{{ getDefenseTotal('armor') }}" />
                </div>
                <div class="inline-block">
                    <h3 class="item-name">Fort</h3>
                    <input disabled class="tiny-input highlighted total-box" value="{{ getDefenseTotal('fortitude') }}" />
                </div>
                <div class="inline-block">
                    <h3 class="item-name">ref</h3>
                    <input disabled class="tiny-input highlighted total-box" value="{{ getDefenseTotal('reflex') }}" />
                </div>
                <div class="inline-block">
                    <h3 class="item-name">Will</h3>
                    <input disabled class="tiny-input highlighted total-box" value="{{ getDefenseTotal('will') }}" />
                </div>
            </section>


            <section class="card">
                <h2 class="section-header">XP</h2>
                
                <div class="inline-block">
                    <small class="next-level">Next Level: {{ next_level_xp }}</small>
                    <h3 class="item-name">XP</h3>
                    <input type="number" class="medium-input total-box wide highlighted" ng-model="character.total_xp" style="box-shadow: inset {{ (xp_level_progress / 100) * 90 }}px 0 0 rgba(181, 239, 12, 0.25);"/>
                </div>
            </section>
            <section class="card">
                <h2 class="section-header">Hit Points</h2>
                <div class="inline-block">
                    <h3 class="item-name">HP</h3>
                    <input type="number" class="small-input highlighted total-box" ng-class="{warning: character.hp_current <= character.hp_bloodied}" ng-model="character.hp_current" />
                </div>
                <div class="inline-block">
                    <label>Max</label>
                    <input type="number" class="tiny-input" ng-model="character.hp_max" />
                </div>
                <div class="inline-block">
                    <label>Bloodied</label>
                    <input disabled class="tiny-input" value="{{ get_bloodied(character.hp_max) }}" />
                </div>
                <div class="inline-block">
                    <label>Temp</label>
                    <input class="tiny-input" ng-model="character.hp_temp" />
                </div>
            </section>
            
            <section class="card">
                <h2 class="section-header">Surges</h2>
                <div class="inline-block">
                    <h3 class="item-name">SRG</h3>
                    <input type="number" class="small-input highlighted total-box" ng-model="character.surges_used" />
                </div>
                <div class="inline-block">
                    <label>Surge Value</label>
                    <input disabled class="tiny-input" value="{{ roundDown(character.hp_max / 4) }}" />
                </div>
                <div class="inline-block">
                    <label>Surges per Day</label>
                    <input type="number" class="tiny-input" ng-model="character.surges_per_day" />
                </div>
            </section>
        </div>
        <div class="columns medium-6">
            <section class="card">
                <h2 class="section-header">At-Will Powers</h2>
                <ul class="item-list">
                    <li class="at-will-power power" ng-repeat="power in character.powers | filter:{type: 'atwillpower'}">
                        <a ng-click="open_power_modal(power.id)">{{ power.name }}</a>
                    </li>
                </ul>
            </section>
            <section class="card">
                <h2 class="section-header">Encounter Powers</h2>
                <ul class="item-list">
                    <li class="encounter-power power" ng-repeat="power in character.powers | filter:{type: 'encounterpower'}">
                        <a ng-click="open_power_modal(power.id)">{{ power.name }}</a>

                    </li>
                </ul>    
            </section>
            <section class="card">
                <h2 class="section-header">Daily Powers</h2>
                <ul class="item-list margin-bottom">
                    <li class="daily-power power" ng-repeat="power in character.powers | filter:{type: 'dailypower'}">
                        <a ng-click="open_power_modal(power.id)">{{ power.name }}</a>
                    </li>
                </ul>     
            </section>
            <section class="card">
                <h2 class="section-header">Feats</h2>
                <ul class="item-list margin-bottom">
                    <li class="item" ng-repeat="feat in character.feats">
                        <a ng-click="open_feat_modal(feat.id)">{{ feat.name }}</a>
                        <i class="fa fa-times" ng-click="delete_feat(feat.id)"></i>
                    </li>
                </ul>
            </section>

            <section class="card">
                    <h2 class="section-header">Notes</h2>
                    <textarea ng-model="character.notes"></textarea>
                </section>
        </div>
    </div>
</div>