<div class="content-view">
    <!-- BASIC INFO
    ========================================= -->
        <div class="row">
            <div class="column medium-12">
                <section class="card">
                    <h2 class="section-header">Basics</h2>

                    <div class="inline-block">
                        <small class="next-level">Next Level: {{ next_level_xp }}</small>
                        <h3 class="item-name">XP</h3>
                        <input type="number" class="medium-input total-box wide highlighted" ng-model="character.total_xp" style="box-shadow: inset {{ (xp_level_progress / 100) * 90 }}px 0 0 rgba(181, 239, 12, 0.25);"/>
                    </div>
                    <div class="inline-block">
                        <label>Level</label>
                        <input class="tiny-input" disabled value="{{get_level()}}" />
                    </div>
                    

                    <div class="inline-block">
                        <label>Class</label>
                        <input class="medium-input" ng-model="character.char_class" />
                    </div>
                    <div class="inline-block">
                        <label>Race</label>
                        <input class="medium-input" ng-model="character.char_race" />
                    </div>

                    <div class="inline-block">
                        <label>Size</label>
                        <input class="tiny-input" ng-model="character.char_size" />
                    </div>

                    <div class="inline-block">
                        <label>Weight</label>
                        <input class="small-input" ng-model="character.char_weight" />
                    </div>

                    <div class="inline-block">
                        <label>Age</label>
                        <input class="tiny-input" ng-model="character.char_age" />
                    </div>

                    <div class="inline-block">
                        <label>Gender</label>
                        <input class="tiny-input" ng-model="character.char_gender" />
                    </div>

                    <div class="inline-block">
                        <label>Height</label>
                        <input class="small-input" ng-model="character.char_height" />
                    </div>

                    <div class="inline-block">
                        <label>Alignment</label>
                        <input class="medium-input" ng-model="character.alignment" />
                    </div>

                    <div class="inline-block">
                        <label>Deity</label>
                        <input class="medium-input" ng-model="character.deity" />
                    </div>

                    <div class="inline-block">
                        <label>Epic Destiny</label>
                        <input class="" ng-model="character.epic_destiny" />
                    </div>

                    <div class="inline-block">
                        <label>Affiliations</label>
                        <input class="" ng-model="character.affiliations" />
                    </div>
                </section>
            </div>
        </div>


        
        <div class="row">
            <div class="medium-4 column">
                <!-- INITIATIVE
                ========================================= -->
                <section class="card">
                    <h2 class="section-header">Initiative</h2>
                    <div class="inline-block">                        
                        <h3 class="item-name">INIT</h3>
                        <input disabled class="tiny-input highlighted total-box" value="{{ getInitiativeTotal() }}" />
                    </div>

                    <div class="inline-block">
                        <label>Dex</label>
                        <input disabled class="tiny-input" value="{{ character.dexterity }}" />
                    </div>

                    <div class="inline-block">
                        <label>1/2 Level</label>
                        <input disabled class="tiny-input" value="{{ getHalfLevel() }}" />
                    </div>

                    <div class="inline-block">
                        <label>Misc</label>
                        <input type="number" class="tiny-input" ng-model="character.initiative_misc" />
                    </div>
                </section>

                <!-- ABILITY SCORES
                ========================================= -->
                <section class="card">
                    <h2 class="section-header">Ability Scores</h2>
                    <div class="item">
                        <h3 class="item-name">Str</h3>
                        <div class="inline-block">
                            <input type="number" class="tiny-input highlighted total-box" ng-model="character.strength" />
                        </div>

                        <div class="inline-block">
                            <label>Abil Mod</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.strength) }}" />
                        </div>
                        
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.strength) + getHalfLevel() }}" />
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="item-name">Con</h3>
                        <div class="inline-block">
                            <input type="number" class="tiny-input highlighted total-box" ng-model="character.constitution" />
                        </div>

                        <div class="inline-block">
                            <label>Abil Mod</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.constitution) }}" />
                        </div>

                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.constitution) + getHalfLevel() }}" />
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="item-name">Dex</h3>
                        <div class="inline-block">
                            <input type="number" class="tiny-input highlighted total-box" ng-model="character.dexterity" />
                        </div>

                        <div class="inline-block">
                            <label>Abil Mod</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.dexterity) }}" />
                        </div>

                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.dexterity) + getHalfLevel() }}" />
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="item-name">Int</h3>
                        <div class="inline-block">
                            <input type="number" class="tiny-input highlighted total-box" ng-model="character.intelligence" />
                        </div>

                        <div class="inline-block">
                            <label>Abil Mod</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.intelligence) }}" />
                        </div>

                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.intelligence) + getHalfLevel() }}" />
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="item-name">Wis</h3>
                        <div class="inline-block">
                            <input type="number" class="tiny-input highlighted total-box" ng-model="character.wisdom" />
                        </div>

                        <div class="inline-block">
                            <label>Abil Mod</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.wisdom) }}" />
                        </div>

                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.wisdom) + getHalfLevel() }}" />
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="item-name">Cha</h3>
                        <div class="inline-block">
                            <input type="number" class="tiny-input highlighted total-box" ng-model="character.charisma" />
                        </div>

                        <div class="inline-block">
                            <label>Abil Mod</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.charisma) }}" />
                        </div>

                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.charisma) + getHalfLevel() }}" />
                        </div>
                    </div>
                </section>

                <!-- HIT POINTS
                ========================================= -->
                <section class="card">
                    <h2 class="section-header">Hit Points</h2>
                    <div class="inline-block">
                        <h3 class="item-name">HP</h3>
                        <input type="number" class="small-input highlighted total-box" ng-class="{warning: character.hp_current <= character.hp_bloodied}" ng-model="character.hp_current" />
                    </div>
                    <div class="inline-block">
                        <label>Max</label>
                        <input type="number" class="tiny-input" ng-model="character.hp_max" />
                    </div>
                    <div class="inline-block">
                        <label>Bloodied</label>
                        <input disabled class="tiny-input" value="{{ get_bloodied(character.hp_max) }}" />
                    </div>
                    <div class="inline-block">
                        <label>Temp</label>
                        <input class="tiny-input" ng-model="character.hp_temp" />
                    </div>
                </section>
                
                <section class="card">
                    <h2 class="section-header">Surges</h2>
                    <div class="inline-block">
                        <h3 class="item-name">SRG</h3>
                        <input type="number" class="small-input highlighted total-box" ng-model="character.surges_used" />
                    </div>
                    <div class="inline-block">
                        <label>Surge Value</label>
                        <input disabled class="tiny-input" value="{{ roundDown(character.hp_max / 4) }}" />
                    </div>
                    <div class="inline-block">
                        <label>Surges per Day</label>
                        <input type="number" class="tiny-input" ng-model="character.surges_per_day" />
                    </div>
                </section>


                <!-- SKILLS
                ========================================= -->
                <section class="card">
                    <h2 class="section-header">Skills</h2>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Acro</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('acrobatics', 'dexterity') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.dexterity) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Armr Pnlty</label>
                            <input type="number" class="tiny-input" ng-model="character.acrobatics_armor_penalty" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input type="number" class="tiny-input" ng-model="character.acrobatics_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.acrobatics_trained" />
                        </div>
                    </div>

                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Arcn</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('arcana' , 'intelligence') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.intelligence) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input type="number" class="tiny-input" ng-model="character.arcana_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.arcana_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Athl</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('athletics' ,'strength') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.strength) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Armr Pnlty</label>
                            <input type="number" class="tiny-input" ng-model="character.athletics_armor_penalty" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input type="number" class="tiny-input" ng-model="character.athletics_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.athletics_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Blff</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('bluff', 'charisma') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.charisma) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input type="number" class="tiny-input" ng-model="character.bluff_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.bluff_trained" />
                        </div>
                    </div>

                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">DPLM</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('diplomacy', 'charisma') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.charisma) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input type="number" class="tiny-input" ng-model="character.diplomacy_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.diplomacy_trained" />
                        </div>
                    </div>

                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">DUNG</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('dungeoneering', 'wisdom') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.wisdom) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input type="number" class="tiny-input" ng-model="character.dungeoneering_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.dungeoneering_trained" />
                        </div>
                    </div>

                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Endr</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('endurance', 'constitution') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.constitution) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Armr Pnlty</label>
                            <input class="tiny-input" ng-model="character.endurance_armor_penalty" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.endurance_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.endurance_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Heal</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('heal', 'wisdom') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.wisdom) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.heal_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.heal_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Hist</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('history', 'intelligence') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.intelligence) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.history_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.history_trained" />
                        </div>
                    </div>


                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Inst</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('insight', 'wisdom') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.wisdom) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.insight_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.insight_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Intm</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('intimidate', 'charisma') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.charisma) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.intimidate_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.intimidate_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Natr</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('nature', 'wisdom') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.wisdom) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.nature_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.nature_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Prcp</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('perception', 'wisdom') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.wisdom) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.perception_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.perception_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Rlgn</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('religion', 'intelligence') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.intelligence) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.religion_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.religion_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Stlth</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('stealth', 'dexterity') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.dexterity) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Armr Pnlty</label>
                            <input class="tiny-input" ng-model="character.stealth_armor_penalty" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.stealth_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.stealth_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Street</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('streetwise', 'charisma') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.charisma) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.streetwise_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.streetwise_trained" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name wide">Thvry</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ get_skill_total('theivery', 'dexterity') }}" />
                        </div>
                        <div class="inline-block">
                            <label>AM + 1/2 lvl</label>
                            <input disabled class="tiny-input" value="{{ getAbilModifier(character.dexterity) + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Armr Pnlty</label>
                            <input class="tiny-input" ng-model="character.theivery_armor_penalty" />
                        </div>
                        <div class="inline-block">
                            <label>Misc</label>
                            <input class="tiny-input" ng-model="character.theivery_misc" />
                        </div>
                        <div class="inline-block">
                            <label>Trained</label>
                            <input class="tiny-input" type="checkbox" ng-model="character.theivery_trained" />
                        </div>
                    </div>
                </section>
            </div>
        

            

            <div class="medium-5 column">
                <!-- DEFENSES
                ========================================= -->
                <section class="card">
                    <h2 class="section-header">Defenses</h2>
                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name">AC</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ getDefenseTotal('armor') }}" />
                        </div>
                        <div class="inline-block">
                            <label>10 + 1/2 Lvl</label>
                            <input disabled class="tiny-input" value="{{ 10 + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Abil</label>
                            <input type="number" class="tiny-input" ng-model="character.armor_abil" />
                        </div>
                        <div class="inline-block">
                            <label>Class</label>
                            <input type="number" class="tiny-input" ng-model="character.armor_char_class" />
                        </div>
                        <div class="inline-block">
                            <label>Feat</label>
                            <input type="number" class="tiny-input" ng-model="character.armor_feat" />
                        </div>
                        <div class="inline-block">
                            <label>ENH</label>
                            <input type="number" class="tiny-input" ng-model="character.armor_enh" />
                        </div>
                        <div class="inline-block">
                            <label>Misc 1</label>
                            <input type="number" class="tiny-input" ng-model="character.armor_misc1" />
                        </div>
                        <div class="inline-block">
                            <label>Misc 2</label>
                            <input type="number" class="tiny-input" ng-model="character.armor_misc2" />
                        </div>
                    </div>

                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name">Fort</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ getDefenseTotal('fortitude') }}" />
                        </div>
                        <div class="inline-block">
                            <label>10 + 1/2 Lvl</label>
                            <input disabled class="tiny-input" value="{{ 10 + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Abil</label>
                            <input type="number" class="tiny-input" ng-model="character.fortitude_abil" />
                        </div>
                        <div class="inline-block">
                            <label>Class</label>
                            <input type="number" class="tiny-input" ng-model="character.fortitude_char_class" />
                        </div>
                        <div class="inline-block">
                            <label>Feat</label>
                            <input type="number" class="tiny-input" ng-model="character.fortitude_feat" />
                        </div>
                        <div class="inline-block">
                            <label>ENH</label>
                            <input type="number" class="tiny-input" ng-model="character.fortitude_enh" />
                        </div>
                        <div class="inline-block">
                            <label>Misc 1</label>
                            <input type="number" class="tiny-input" ng-model="character.fortitude_misc1" />
                        </div>
                        <div class="inline-block">
                            <label>Misc 2</label>
                            <input type="number" class="tiny-input" ng-model="character.fortitude_misc2" />
                        </div>
                    </div>

                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name">ref</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ getDefenseTotal('reflex') }}" />
                        </div>
                        <div class="inline-block">
                            <label>10 + 1/2 Lvl</label>
                            <input disabled class="tiny-input" value="{{ 10 + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Abil</label>
                            <input type="number" class="tiny-input" ng-model="character.reflex_abil" />
                        </div>
                        <div class="inline-block">
                            <label>Class</label>
                            <input type="number" class="tiny-input" ng-model="character.reflex_char_class" />
                        </div>
                        <div class="inline-block">
                            <label>Feat</label>
                            <input type="number" class="tiny-input" ng-model="character.reflex_feat" />
                        </div>
                        <div class="inline-block">
                            <label>ENH</label>
                            <input type="number" class="tiny-input" ng-model="character.reflex_enh" />
                        </div>
                        <div class="inline-block">
                            <label>Misc 1</label>
                            <input type="number" class="tiny-input" ng-model="character.reflex_misc1" />
                        </div>
                        <div class="inline-block">
                            <label>Misc 2</label>
                            <input type="number" class="tiny-input" ng-model="character.reflex_misc2" />
                        </div>
                    </div>

                    <div class="item">
                        <div class="inline-block">
                            <h3 class="item-name">Will</h3>
                            <input disabled class="tiny-input highlighted total-box" value="{{ getDefenseTotal('will') }}" />
                        </div>
                        <div class="inline-block">
                            <label>10 + 1/2 Lvl</label>
                            <input disabled class="tiny-input" value="{{ 10 + getHalfLevel() }}" />
                        </div>
                        <div class="inline-block">
                            <label>Abil</label>
                            <input type="number" class="tiny-input" ng-model="character.will_abil" />
                        </div>
                        <div class="inline-block">
                            <label>Class</label>
                            <input type="number" class="tiny-input" ng-model="character.will_char_class" />
                        </div>
                        <div class="inline-block">
                            <label>Feat</label>
                            <input type="number" class="tiny-input" ng-model="character.will_feat" />
                        </div>
                        <div class="inline-block">
                            <label>ENH</label>
                            <input type="number" class="tiny-input" ng-model="character.will_enh" />
                        </div>
                        <div class="inline-block">
                            <label>Misc 1</label>
                            <input type="number" class="tiny-input" ng-model="character.will_misc1" />
                        </div>
                        <div class="inline-block">
                            <label>Misc 2</label>
                            <input type="number" class="tiny-input" ng-model="character.will_misc2" />
                        </div>
                    </div>
                </section>

                <section class="card">
                    <h2 class="section-header">Weapons</h2>
                    
                    <ul class="item-list">
                        <li class="item item--weapon" on-form-change="update_weapon($index)" ng-repeat="weapon in character.weapons" ng-form="weaponForm{{$index}}">
                            <div class="inline-block">
                                <label>Attack</label>
                                <input class="tiny-input" ng-model="weapon.attack" />
                            </div>
                            <div class="inline-block versus-label">
                                vs
                            </div>
                            <div class="inline-block">
                                <label>Defense</label>
                                <input class="tiny-input" ng-model="weapon.defense" />
                            </div>
                            <div class="inline-block weapon-name">
                                <a ng-click="open_weapon_modal(weapon.id)">{{ weapon.name }}</a>
                            </div>
                            <div class="inline-block">
                                <label>Damage</label>
                                <input class="medium-input" ng-model="weapon.damage" />
                            </div>
                            <i class="fa fa-times" ng-click="delete_weapon(weapon.id)"></i>
                        </li>
                    </ul>
                    
                    <div class="row">
                        <div class="columns small-9">
                            <input type="text" ng-model="new_weapon" typeahead="item as item.name for item in items | filter:{name:$viewValue} | limitTo:20" class="width-100">
                        </div>
                        <div class="columns small-3">
                            <button ng-click="add_weapon()" class="width-100">add</button>
                        </div>
                    </div>
                </section>


                <section class="card">
                    <h2 class="section-header">Race Features</h2>
                    <textarea ng-model="character.race_features"></textarea>
                </section>
                <section class="card">
                    <h2 class="section-header">Class / Path / Destiny Features</h2>
                    <textarea ng-model="character.other_features"></textarea>
                </section>
                <section class="card">
                    <h2 class="section-header">Known Languages</h2>
                    <textarea class="mini" ng-model="character.languages"></textarea>
                </section>
                <section class="card">
                    <h2 class="section-header">Currency</h2>
                    <div class="inline-block">
                        <label>Gold</label>
                        <input type="number" class="tiny-input" ng-model="character.gold" />
                    </div>
                    <div class="inline-block">
                        <label>Silver</label>
                        <input type="number" class="tiny-input" ng-model="character.silver" />
                    </div>
                    <div class="inline-block">
                        <label>Copper</label>
                        <input type="number" class="tiny-input" ng-model="character.copper" />
                    </div>
                </section>
            </div>


            <div class="medium-3 column">
                <!-- SPEED
                ========================================= -->
                <section class="card">
                    <h2 class="section-header">Speed</h2>
                    <div class="inline-block">
                        <h3 class="item-name">SPD</h3>
                        <input disabled class="tiny-input highlighted total-box" value="{{ get_speed() }}" />
                    </div>
                    <div class="inline-block">
                        <label>Base</label>
                        <input type="number" class="tiny-input" ng-model="character.speed_base" />
                    </div>
                    <div class="inline-block">
                        <label>Armor</label>
                        <input type="number" class="tiny-input" ng-model="character.speed_armor" />
                    </div>
                    <div class="inline-block">
                        <label>Item</label>
                        <input type="number" class="tiny-input" ng-model="character.speed_item" />
                    </div>
                    <div class="inline-block">
                        <label>Misc</label>
                        <input type="number" class="tiny-input" ng-model="character.speed_misc" />
                    </div>
                    <div>
                        <label>Extra abilites</label>
                        <textarea class="mini" ng-model="character.speed_abilites"></textarea>
                    </div>
                </section>

                <!-- SENSES
                ========================================= -->
                <section class="card">
                    <h2 class="section-header">Senses</h2>
                    <div class="inline-block">
                        <h3 class="item-name wider">PSV INST</h3>
                        <input disabled class="tiny-input highlighted total-box" value="{{character.insight_total + 10}}" />
                    </div>
                    <div class="inline-block">
                        <h3 class="item-name wider">PSV PRCP</h3>
                        <input disabled class="tiny-input highlighted total-box" value="{{character.perception_total + 10}}" />
                    </div>
                    <div>
                        <label>Extra abilites</label>
                        <textarea class="mini" ng-model="character.sense_abilites"></textarea>
                    </div>
                </section>

                <section class="card">
                    <h2 class="section-header">Feats</h2>
                    <textarea ng-model="character.feats"></textarea>
                </section>
                <section class="card">
                    <h2 class="section-header">Powers</h2>
                    <ul class="item-list">
                        <li class="at-will-power power" ng-repeat="power in character.powers | filter:{type: 'atwillpower'}">
                            <a ng-click="open_power_modal(power.id)">{{ power.name }}</a>
                                <i class="fa fa-times" ng-click="delete_power(power.id)"></i>
                        </li>
                    </ul>

                    <ul class="item-list">
                        <li class="encounter-power power" ng-repeat="power in character.powers | filter:{type: 'encounterpower'}">
                            <a ng-click="open_power_modal(power.id)">{{ power.name }}</a>
                            <i class="fa fa-times" ng-click="delete_power(power.id)"></i>
                        </li>
                    </ul>    

                    <ul class="item-list margin-bottom">
                        <li class="daily-power power" ng-repeat="power in character.powers | filter:{type: 'dailypower'}">
                            <a ng-click="open_power_modal(power.id)">{{ power.name }}</a>
                                <i class="fa fa-times" ng-click="delete_power(power.id)"></i>
                        </li>
                    </ul>                        

                    <div class="row">
                        <div class="columns small-9">
                            <input type="text" ng-model="new_power" typeahead="power as power.name for power in powers | filter:{name:$viewValue} | limitTo:20" class="width-100">
                        </div>
                        <div class="columns small-3">
                            <button ng-click="add_power()" class="width-100">add</button>
                        </div>
                    </div>

                </section>
                
                <section class="card">
                    <h2 class="section-header">Items</h2>
                    <ul class="item-list">
                        <li class="item" ng-repeat="item in character.items">
                            <a ng-click="open_item_modal(item.id)">{{ item.name }}</a>
                            <i class="fa fa-times" ng-click="delete_item(item.id)"></i>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="columns small-9">
                            <input type="text" ng-model="new_item" typeahead="item as item.name for item in items | filter:{name:$viewValue} | limitTo:20" class="width-100">
                        </div>
                        <div class="columns small-3">
                            <button ng-click="add_item()" class="width-100">add</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>