<div class="content-view">
	<div class="row">
		<div class="columns medium-6">
			<div class="empty-message" ng-show="ui.loading && !characters.length">Loading...</div>
			<ul class="characters" dnd-list="encounter_characters">
				<li class="character-card--encounter card" ng-if="character.type !== 'enemy'" ng-repeat="character in encounter_characters">
					<div class="toolbar">
						<a ui-sref="character-detail({character_key: character.key})">
							<div ng-if="character.avatar_url && character.avatar_url !== 'None'" class="avatar micro" style="background-image: url('{{character.avatar_url}}')"></div>
							<div ng-if="!character.avatar_url || character.avatar_url === 'None'" class="avatar micro default">
								<span>{{character.name[0]}}</span>
							</div>
							<h1>{{ character.name }}</h1>
							<p ng-if="character.type !== 'enemy'" class="char-bio">
				                A level {{character.level}} {{character.char_race || 'noob'}} {{character.char_class}}
				            </p>
				            <p ng-if="character.type === 'enemy'" class="char-bio">
				            	Enemy
				            </p>
			            </a>
			            <div class="encounter-initiative">
			            	<input type="number" class="total-box highlighted encounter-initiative" ng-model="character.encounter_initiative" />
			            </div>
			        </div>
				</li>
				<li class="character-card--encounter card enemy" ng-if="character.type === 'enemy'" ng-repeat="character in encounter_characters">
					<div class="toolbar">
						<div class="avatar micro default">
							<span>{{character.name[0]}}</span>
						</div>
						
						<button class="right button-muted" ng-click="kill_character($index)">Kill</button>

						<h1>{{ character.name }}</h1>
						<p ng-if="character.type === 'enemy'" class="char-bio">
			            	Enemy
			            </p>
			        </div>
				</li>
			</ul>
		</div>
		<div class="columns medium-6">
			<button ng-click="sort_by_initiative()">Sort</button>
			<button ng-click="reset_encounter()">Reset</button>

			<input placeholder="Enemy Class" ng-model="new_enemy_class.name" />
			<button ng-click="add_enemy_class()">Add Enemy</button>



			<ul ng-show="dead_guys.length">
				<strong>RIP</strong>
				<li ng-repeat="guy in dead_guys">{{guy.name}}</li>
			</ul>


		</div>
	</div>
</div>