<div class="toolbar">
	<h1>DnD Buddy</h1>
</div>

<div class="row">
	<div class="columns small-12">
		<div class="content-view">
			<h2>Create group</h2>

			<input placeholder="Group name" ng-model="new_group.name" />
			<button ng-click="create_group()">create group</button>

			<h2>Groups</h2>
			<div class="empty-message" ng-show="!groups.length">Loading...</div>
			<ul>
				<li ng-repeat="group in groups">
					<a ui-sref="group-detail.dashboard({group_key: group.key})">{{ group.name }}</a>
				</li>
			</ul>
		</div>
	</div>
</div>

